.area{
    margin-bottom: 40px;
    &__container{
        display: grid;
        gap: 20px;
        grid-template-columns: .415fr .59fr;
        @media screen and (max-width:1023px) {
            display: flex;
            flex-direction: column;
        }
        &-info{
            display: flex;
            flex-direction: column;
            padding: 70px 40px;
            background-color: $-white;
            border-radius: 20px;
            @media screen and (max-width:550px) {
                padding: 40px 20px;
            }
            & h3{
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                margin-bottom: 10px;
                color: $-blue;
            }
            & p{
                margin-bottom: 40px;
            }
            & ul{
                display: flex;
               flex-direction: column;
               gap:15px;
               & li{
                position: relative;
                margin-left: 20px;
                &:before{
                    content: '';
                    width: 10px;
                    height: 10px;
                    background-color: $-beruza;
                    position: absolute;
                    top: 0;
                    left: -15px;
                    transform: translate(-50%, 50%);
                    border-radius: 50%;
                }
               }
            }
        }
        &-map{
            border-radius: 20px;
            max-width: 750px;
            width: 100%;
            @media screen and (max-width:1023px) {
                max-width: 100%;
                width: 100%;
            }
            & img{
                border-radius: inherit;
                max-width: 100%;
                width: 100%;
                object-fit: cover;
                height: auto;
                @media screen and (max-width:1023px) {
                    min-height: 560px;
                    max-height: 560px;
                    height: 100%;
                }
                @media screen and (max-width:767px) {
                    min-height: 360px;
                    max-height: 360px;
                }
            }
            
        }
        
        
    }
}